*{
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
button{
  text-transform: none !important;
}
@media (max-width:600px) {
  .overview{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .card{
      width: 100%;
    }

  }
  .transaction-filters{
    flex-direction: column;
  }
}